/* root varibles */
html {
  scroll-behavior: smooth;
}

:root {
  --h1-color: #88e0ef;
  --h2-color: #68aabe;
  --h3-color: #2f86a6;
  --body-color: #455754;
  --header-color: #406882;
  --footer-color: #cfe0f0;
  --hr-color: #b5dae0;
  --footer-link: #566966;
  --mail-bg: #3edbf0;
  --mail-gradient-front: #009dae;
  --mail-gradient-back: #96baff;
  --mail-hover-gradient-front: #3edbf0;
  --mail-hover-gradient-back: #a6f6f1;
}

.dev {
  color: #b1d0e0;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--body-color);
}

h1 {
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem; /* 16px = 1em = 100% */
  color: var(--h1-color);
  line-height: 2;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  color: var(--h2-color);
  padding-bottom: 1rem;
}

h3 {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  color: var(--h3-color);
  font-size: x-large;
}

p {
  line-height: 2;
}

header {
  background-color: var(--header-color);
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  top: 500px;
  left: 250px;
}

main {
  margin: 6rem 0;
}

.intro {
  width: 50%;
  margin: auto;
}

.profile-img {
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: justify;
}

.frontend {
  float: left;
  width: 32%;
  margin-right: 10px;
}

.coding {
  float: right;
  border-radius: 50%;
  width: 25%;
  margin-left: 40px;
  margin-top: 1rem;
}

footer {
  margin-top: 50px;
  background-color: var(--footer-color);
  padding: 2rem 0;
}

.sites > a {
  margin: 0 2px;
}

.contact-me > p {
  width: 50%;
  margin: 2rem auto 3rem;
}

.contact-me > h3 {
  width: 80%;
  margin: 1rem auto;
}

hr {
  border-style: none;
  width: 5%;
  border: dotted var(--hr-color);
  border-bottom: none;
  border-width: 0.5rem;
  margin: 4.5rem auto;
}

.bottom-hr {
  position: relative;
  margin-top: 11rem;
}

#footer-text {
  font-size: small;
  font-weight: 600;
  padding: 20px 0 0;
}

#footer-text > a {
  color: var(--footer-link);
}

.mail {
  background: var(--mail-bg);
  background-image: -webkit-linear-gradient(
    top,
    var(--mail-gradient-front),
    var(--mail-gradient-back)
  );
  background-image: -moz-linear-gradient(
    top,
    var(--mail-gradient-front),
    var(--mail-gradient-back)
  );
  background-image: -ms-linear-gradient(
    top,
    var(--mail-gradient-front),
    var(--mail-gradient-back)
  );
  background-image: -o-linear-gradient(
    top,
    var(--mail-gradient-front),
    var(--mail-gradient-back)
  );
  background-image: linear-gradient(
    to bottom,
    var(--mail-gradient-front),
    var(--mail-gradient-back)
  );
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  color: #ebdbdb;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.mail:hover {
  background: #31b7c9;
  background-image: -webkit-linear-gradient(
    top,
    var(--mail-hover-gradient-front),
    var(--mail-hover-gradient-back)
  );
  background-image: -moz-linear-gradient(
    top,
    var(--mail-hover-gradient-front),
    var(--mail-hover-gradient-back)
  );
  background-image: -ms-linear-gradient(
    top,
    var(--mail-hover-gradient-front),
    var(--mail-hover-gradient-back)
  );
  background-image: -o-linear-gradient(
    top,
    var(--mail-hover-gradient-front),
    var(--mail-hover-gradient-back)
  );
  background-image: linear-gradient(
    to bottom,
    var(--mail-hover-gradient-front),
    var(--mail-hover-gradient-back)
  );
  text-decoration: underline;
  font-family: 'Ubuntu', sans-serif;
  color: #40514e;
}
